<div id="about">
    <div class="about poco">
      <img src="https://images.unsplash.com/photo-1615215271771-f34c47f03697?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="">
      <h2>Dummy Text</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis pariatur modi, rerum tempore ab velit
        adipisci odio in animi esse saepe, qui doloribus quia! Error numquam magnam in blanditiis eius.
      </p>
  
    </div>
    <div class="about dog">
      <img src="https://images.unsplash.com/photo-1608096299210-db7e38487075?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1498&q=80" alt="">
      <h2>Dummy Text</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae tempora nobis eveniet ex incidunt
        esse omnis amet aut blanditiis aliquam, sequi libero? Non necessitatibus harum dolorum asperiores
        veritatis dicta omnis.
      </p>
    </div>
    <div class="about parrot">
      <img src="https://images.unsplash.com/photo-1496387314164-18b0105f7553?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80" alt="">
      <h2>Dummy Text</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur animi reprehenderit blanditiis
        praesentium repellendus! Fugiat reprehenderit esse animi officia magni velit in officiis corporis,
        reiciendis, cumque cupiditate minima ipsam tenetur.
      </p>
    </div>
  </div>